<div id="sums" class="summary-box col-md-4 text-center">
  <% if (@expenses.sum(:amount)) == 0 %>
    <div class="summary-value">$ 0</div>
  <% else %>
    <div class="summary-value">
      $ <%= @expenses.sum(:amount) %>
    </div>
  <% end %>
  <div class="summary-label">Total</div>
</diV>
<div class="summary-box col-md-4 text-center">
  <div class="summary-value"><%= @expenses.count(:id) %></div>
  <div class="summary-label">Transactions</div>
</div>
<div class="summary-box col-md-4 text-center">
  <% if (@expenses.sum(:amount)) == 0 %>
    <div class="summary-value">$ 0</div>
  <% else %>
    <div class="summary-value">
      $ <%= @expenses.sum(:amount) / @expenses.count(:id) %>
    </div>
  <% end %>
  <div class="summary-label">Average</div>
</div>
